.home-title {
  margin-top: 0px;
}

.home section {
  margin-left: 7.5rem;
  font-size: 2.8rem;
}

.home-link {
  margin-bottom: 10px;
  font-weight: 400;
  list-style-type: none;
}

.home-link span.light {
  color: #4a4a4a;
}

.dark .home-link span.light {
  color: #cacaca;
}

.home-link::before {
  content: ">";
  font-size: 24px;
  margin-right: 10px;
}

.home-link a:hover {
  text-decoration: underline;
}

.home-icon {
  cursor: pointer;
}
