main.contact
  section
    font-size: 2rem

    .list
      &-item
        margin-bottom: 0.6rem
        font-size: 2rem

        &:last-child
          svg
            vertical-align: -0.1rem

      &-icon
        margin-right: 1.2rem

        svg
          vertical-align: -0.2rem
