html {
  font-size: 62.5%;
}

body {
  margin: 7rem;
  font-size: 2rem;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  transition: color ease-in-out 0.25s;
  transition: background-color ease-in-out 0.25s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  background-color: #121212;
}

.dark * {
  color: #fafafa;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

h1.standard {
  font-weight: 700;
  font-size: 4.4rem;
  margin-top: 0px;
}

h2.standard {
  font-weight: bold;
  font-size: 3.4rem;
  margin-top: 0px;
  margin-bottom: 2rem;
}

svg {
  vertical-align: middle;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media only screen and (min-device-width: 401px) and (max-device-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 400px) {
  html {
    font-size: 37.5%;
  }

  body {
    margin: 6rem;
  }
}
