html {
  font-size: 62.5%;
}

body {
  margin: 7rem;
  font-size: 2rem;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  transition: color ease-in-out 0.25s;
  transition: background-color ease-in-out 0.25s;
  width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  background-color: #121212;
}

.dark * {
  color: #fafafa;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.outside-link:hover {
  border-bottom: 0.25rem currentColor solid;
}

.pointer {
  cursor: pointer;
}

h1.standard {
  font-weight: 700;
  font-size: 4.4rem;
  margin-top: 0px;
}

h2.standard {
  font-weight: bold;
  font-size: 3.4rem;
  margin-top: 0px;
  margin-bottom: 1rem;
}

svg {
  vertical-align: middle;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

main.changelog h3 {
  margin-bottom: 0;
}

main.changelog ul {
  margin-top: 5px;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1350px) {
  body {
    width: 60%;
  }

  main.whoami {
    width: 90%;
  }
}

@media only screen and (max-device-width: 800px) {
  body {
    width: 70%;
  }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 700px) {
  html {
    font-size: 50%;
  }

  body {
    margin-left: 8rem;
    width: 80%;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 450px) {
  html {
    font-size: 48.5%;
  }

  body {
    margin: 6rem;
    margin-left: 3rem;
    width: 80%;
  }
}

.hide-1120 {
  display: none;
}

.show-1120 {
  display: inline;
}

@media only screen and (min-device-width: 1120px) {
  .hide-1120 {
    display: initial;
  }

  .show-1120 {
    display: none;
  }
}
