.item
    margin-bottom: 1rem
    color: #121212

    p
        margin: 5px 0
        font-size: 1.6rem

    .title
        font-size: 1.8rem
        font-weight: 500
        margin: 0

    .meta
        font-size: 1.4rem
        color: #4a4a4a

main.work
    #projectsHeader
        margin-top: 3rem

.dark
    .title
        color: #ffffff

    .description
        color: #dadada

    .meta
        color: #aaa
